.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  background-color: rgb(240, 249, 234);
  min-height: 65vh;
  padding-bottom: 30px;
}
.wrapper-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 65px;
}
label {
  width: 60%;
  text-align: left;
  padding-bottom: 5px;
  color: #1e1e1e;
  font-weight: 500;
}

.wrapper-input input {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 20px;
  border: none;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(45deg, #3f3d56, #dbbc00) 1;
  background-color: rgb(240, 249, 234);
}
.wrapper-input p,
.wrapper-dropdown span {
  margin-top: 0;
  text-align: left;
  width: 60%;
  font-size: 0.8em;
  color: #db2a16;
  font-weight: 500;
}
.test {
  display: flex;
  padding: 40px 0;
  justify-content: center;
}

.wrapper-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper-dropdown p {
  width: 60%;
  text-align: left;
  padding-bottom: 5px;
  color: #1e1e1e;
  font-weight: 500;
  margin-bottom: 0;
}

.error {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
}
.image {
  background-color: #1e1e1e;
  border-radius: 15px 15px 0 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.image img {
  height: 90px;
  margin: 5px 0px 5px 0;
}

.image h2 {
  color: #dbbc00;
}

.wrapper-btn {
  margin-top: 30px;
}
.btn {
  width: 120px;
  height: 40px;
  background-color: #dbbc00;
  border: none;
  border-radius: 5px;
  color: #1e1e1e;
  font-weight: bold;
  font-size: 1em;
}

.btn:hover {
  filter: brightness(115%);
}

/*Style Datepicker*/

/*input*/
.react-datepicker__input-container input {
  border: none;
  background-color: rgb(240, 249, 234);
  border-bottom: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(45deg, #3f3d56, #dbbc00) 1;
  width: 60%;
}

/*header*/
.react-datepicker__month-container .react-datepicker__header {
  background-color: #dbbc00;
}
/*month*/
.react-datepicker__current-month.react-datepicker__current-month--hasYearDropdown {
  color: #1e1e1e;
}

/*arrow next previous*/
.react-datepicker__navigation-icon.react-datepicker__navigation-icon--next::before,
.react-datepicker__navigation-icon.react-datepicker__navigation-icon--previous::before,
.react-datepicker__year-read-view {
  border-color: #1e1e1e;
}
/*arrow down*/
.react-datepicker__year-read-view .react-datepicker__year-read-view--down-arrow {
  border-color: #1e1e1e;
  font-size:0.8em;
  /*
  background: url(../images/rightArrow.png) no-repeat;
  width: 15px;
  height: 15px;
  border: none;
  */
}
/*year*/
.wrapper-dropdown span {
  color: #1e1e1e;
  font-weight: bold;

}
