.header {
    display:flex;
    align-items: center;
  justify-content: center;
  background-color: rgb(225, 235, 217);
  border-bottom: 2px solid rgb(225, 235, 217);
  box-shadow: -2px -9px 6px 7px;

}
.header img{
    width:80px;
    height:80px
}


.nav-links__home,
.nav-links__all {
 
  text-decoration: none;
  color: #5a6e0a;
  font-weight: bold;
  margin-right:10px;
}

.active {
  border-bottom: 2px solid #5a6e0a;

  color: #5a6e0a;
  font-weight: bold;
  text-decoration: none;
  margin-right:10px;
}


.header-nav{
position:absolute;
right:0;

}


