/*  border-top: 2px solid rgb(220, 223, 218);*/
/*   border-top: 2px solid #ccd5a9;*/
.footer{
    border-top: 2px solid #ccd5a9;
    height:80px;
    position: absolute;
   
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    font-size:0.7em;
    font-weight: 500;
}